:deep(.el-form .el-input__wrapper) {
    border-radius: 20px !important;
}

:deep(.el-form .el-input__inner) {
    font-family: monospace;
    overflow-wrap: break-word;
    word-break: break-all;
}

.common-layout {
    display: flex;
    align-items: center;
    height: 100vh;
}

.el-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 32vh;
    padding: 20px;
}

.el-form {
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.el-input {
    padding-right: 20px;
    width: 250px;
}

.el-flower {
    width: 100%;
}

.el-button-refresh {
    margin-top: 16px;
    width: 100%;
    font-family: monospace;
}

.header-container {
    padding: 20px;
}

.header-container>span[class="label-app"] {
    margin-left: 20px;
    vertical-align: super;
    font-weight: 600;
    font-family: monospace;
    text-decoration: underline;
    font-size: 15px;
}

.scrollbar-container {
    width: 50%;
    height: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

.message-person {
    display: flex;
    justify-self: end;
    flex-direction: row-reverse;
    width: fit-content;
    color: white;
    border: 1px solid;
    overflow-wrap: break-word;
    border-radius: 16px;
    border-color: #6c6e72;
    padding: 3px;
    padding-right: 6px;
    padding-left: 6px;
}

.message-ai {
    display: flex;
    justify-self: start;
    width: fit-content;
    max-width: 500px;
    color: white;
    border: 1px solid;
    overflow-wrap: break-word;
    border-radius: 16px;
    border-color: #6c6e72;
    padding: 3px;
    padding-right: 6px;
    padding-left: 6px;
}

.container-progress {
    margin-left: 20%;
}

.container-progress .el-progress--line {
    margin-bottom: 15px;
    max-width: 600px;
}

.container-progress>span[class='el-text'] {
    display: flex;
    justify-content: center;
    font-family: monospace;
}