:deep(.el-form .el-input__wrapper) {
    border-radius: 20px !important;
}

.common-layout {
    display: flex;
    align-items: center;
    height: 100vh;
}

.el-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 32vh;
    padding: 20px;
}

.el-form {
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.el-input {
    padding-right: 20px;
    width: 250px;
}

.el-flower {
    width: 100%;
}

.el-button-refresh {
    margin-top: 16px;
    width: 100%;
}

.container-messages {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    word-break: break-all;
    overflow-x: auto;
    width: 270px;
    height: 100%;
    margin-bottom: 15px;
    color: white;
    border-radius: 8px;
    padding: 15px;
}

.scrollbar-container {
    width: 50%;
    height: 100%;
}

.scrollbar-container .message-person {
    display: flex;
    justify-content: end;
}

.container-progress {
    margin-left: 20%;
}

.container-progress .el-progress--line {
    margin-bottom: 15px;
    max-width: 600px;
}

.container-progress>span[class='el-text'] {
    display: flex;
    justify-content: center;
}